{% extends 'LIHotelBundle::base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/lihotel/css/carousel.css') }}">
{% endblock %}
{% block body %}
	<!-- =================== Carousel =================== -->
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
			<li data-target="#myCarousel" data-slide-to="3"></li>
		</ol>
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<img class="first-slide" src="{{ asset('bundles/lihotel/images/big_4.jpg') }}" alt="First slide">
				<div class="container">
					<div class="carousel-caption">
						<h1>Bienvenido</h1>
						<p>Inicie sesión y no preste atención a la mayoria de los enunciados de esta página.</p>
						<p><a class="btn btn-lg btn-primary" href="{{ path('LIHotelBundle_registro') }}" role="button">Registrese hoy!</a></p>
					</div>
				</div>
			</div>
			<div class="item">
				<img class="second-slide" src="{{ asset('bundles/lihotel/images/big_1.jpg') }}" alt="Second slide">
				<div class="container">
					<div class="carousel-caption">
						<h1>Actividades Deportivas para todos.</h1>
						<p>En nuestras instalaciones hay todo tipo de canchas al aire libre y bajo techo, entre nuestras opcioines mas extremas se encuentran el alpinismo, rapel, kayak y muchas mas.</p>
					</div>
				</div>
			</div>
			<div class="item">
				<img class="third-slide" src="{{ asset('bundles/lihotel/images/big_2.jpg') }}" alt="Third slide">
				<div class="container">
					<div class="carousel-caption">
						<h1>Death Cab For Cutie</h1>
						<p>I hope you can see the potencial, the potencial between you and me, it's like a book elegantly bound but in a language that you can't read.</p>
						<!--p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p-->
					</div>
				</div>
			</div>
			<div class="item">
				<img class="third-slide" src="{{ asset('bundles/lihotel/images/big_3.jpg') }}" alt="Fourth slide">
				<div class="container">
					<div class="carousel-caption">
						<h1>Habitaciones Dobles</h1>
						<p>Hospedese con nosotros y disfrute de las mas variadas habitaciones, ninguna habitación es como la anterior, nuestro servicio de atención personalizada lo hará sentir como en su propio hogar.</p>
						<p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
					</div>
				</div>
			</div>
		</div>
		<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
	<!-- =================== Carousel =================== -->

	<div class="container marketing" style="margin-bottom: 20px">
		<!-- START THE FEATURETTES -->
		<hr class="featurette-divider-little">
		<div class="row featurette">
			<div class="col-md-7">
				<h2 class="featurette-heading">El lugar más remoto para su descanso <span class="text-muted">o ¡Ocultar un cadáver!</span></h2>
				<p class="lead">Rodeado de un valle de montañas rocosas y con la civilización más cercana a 700k, nuestro hotel es el más inóspito después del 'Overlook' de 'The Shinning', además somos visitados cada 6 meses por un grupo del ISIS.</p>
			</div>
			<div class="col-md-5">
				<img class="featurette-image img-responsive img-rounded center-block" alt="Generic placeholder image" src="{{ asset('bundles/lihotel/images/image_1.jpeg') }}">
			</div>
		</div>
		<!-- /END THE FEATURETTES -->
	</div>
{% endblock %}