{% extends 'LIHotelBundle::adminBase.html.twig' %}

{% block title %}Administración Hotel Symfony{% endblock%}
{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/lihotel/css/font-awesome.min.css') }}">
	<style type="text/css">
	.table{ margin-bottom: 0px !important; }
	.table tr td { border-bottom: 1px solid #fff; }
	.table tr td { border-top: 1px solid #fff !important; }

	.labelalert{
	    border-radius: 5px;
	    padding: 0.5em;
	    margin: 5px 5px 5px 0px;
	    display: block;
	    color: #fcf8e3;
    }
    a:hover { text-decoration: none; }
    .labelalert:hover{
    	font-weight: bold;
    	cursor: pointer;
    }
	.labelalert-primary{
		background-color: rgba(54, 54, 54, 0.55);
	    color: #fcf8e3;
    }
    .labelalert-atencion{
		background-color: #FFF400;
		color: #000;
	}
    .labelalert-grave{ background-color: #FF3A3A; }
    .labelalert-normal{ background-color: #2196F3; }
    .over{ max-height: 400px; overflow-y: auto; border-radius: 5px; }
    .pull-left{ font-weight: bold; }
    .page-header{ text-align: center; }
	</style>
{% endblock %}

{% block body %}
	
	<div class="col-lg-9 col-sm-10 col-md-8 col-xs-12">
		<div class="page-header"><h3>Bienvenid@, {{ user.nombre }}</h3></div>
		{% for message in app.session.flashbag.get('administrador_malos') %}
			<div class="alert alert-danger" role="alert"><b>Oh crap! </b>{{ message }}</div>
		{% endfor %}
		<div class="row">
			<div class="col-lg-4 col-sm-6 col-md-4 col-xs-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-3">
								<span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
							</div>
							<div class="col-xs-9 text-right">
								<div class="huge">Reservas</div>
								<div>Total: {{ por_concretar+concretadas+canceladas }}</div>
							</div>
						</div>
						<div class="panel-body row">
							<table class="table table-condensed">
								<tr><td>Por Concretar</td><td>{{ por_concretar }}</td></tr>
								<tr><td>Concretadas</td><td>{{ concretadas }}</td></tr>
								<tr><td>Canceladas</td><td>{{ canceladas }}</td></tr>
							</table>
						</div>
					</div>
					<a href="{{ path('reserva') }}">
						<div class="panel-footer">
							<span class="pull-left">Ver las reservas</span>
							<span class="pull-right"><i class="glyphicon glyphicon-chevron-right" aria-hidden="true"></i></span>
							<div class="clearfix"></div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 col-md-4 col-xs-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-3">
								<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
							</div>
							<div class="col-xs-9 text-right">
								<div class="huge">Usuarios</div>
								<div>Total: {{ admins+users }}</div>
							</div>
						</div>
						<div class="panel-body row">
							<table class="table table-condensed">
								<tr><td>Administradores</td><td>{{ admins }}</td></tr>
								<tr><td>Usuarios</td><td>{{ users }}</td></tr>
								<tr><td>Otros</td><td>#</td></tr>
							</table>
						</div>
					</div>
					<a href="{{ path('usuario') }}">
						<div class="panel-footer">
							<span class="pull-left">Ver los usuarios</span>
							<span class="pull-right"><i class="glyphicon glyphicon-chevron-right" aria-hidden="true"></i></span>
							<div class="clearfix"></div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 col-md-4 col-xs-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-3">
								<span class="glyphicon glyphicon-bed" aria-hidden="true"></span>
							</div>
							<div class="col-xs-9 text-right">
								<div class="huge">Habitaciones</div>
								<div>Total: {{ cant_habitaciones }}</div>
							</div>
						</div>
						<div class="panel-body row">
							<table class="table table-condensed">
								<tr><td>Reservadas</td><td>{{ habitaciones_reservadas }}</td></tr>
								<tr><td>Libres</td><td>{{ habitaciones_libres }}</td></tr>
								<tr><td>Ocupadas o Indispuestas</td><td>{{ habitaciones_ocupadas }}</td></tr>
							</table>
						</div>
					</div>
					<a href="{{ path('habitacion') }}">
						<div class="panel-footer">
							<span class="pull-left">Ver las habitaciones</span>
							<span class="pull-right"><i class="glyphicon glyphicon-chevron-right" aria-hidden="true"></i></span>
							<div class="clearfix"></div>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-3">
								<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
							</div>
							<div class="col-xs-9 text-right">
								<div class="huge">Ajustes</div>
								<div>realice configuraciones</div>
							</div>
						</div>
					</div>
					<a href="#">
						<div class="panel-footer">
							<span class="pull-left">Ver más Detalles</span>
							<span class="pull-right"><i class="glyphicon glyphicon-chevron-right" aria-hidden="true"></i></span>
							<div class="clearfix"></div>
						</div>
					</a>
				</div>
			</div>
			<!--<div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-3">
								<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
							</div>
							<div class="col-xs-9 text-right">
								<div class="huge">26</div>
								<div>New Comments!</div>
							</div>
						</div>
					</div>
					<a href="#">
						<div class="panel-footer">
							<span class="pull-left">Ver más Detalles</span>
							<span class="pull-right"><i class="glyphicon glyphicon-chevron-right" aria-hidden="true"></i></span>
							<div class="clearfix"></div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-3">
								<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
							</div>
							<div class="col-xs-9 text-right">
								<div class="huge">26</div>
								<div>New Comments!</div>
							</div>
						</div>
					</div>
					<a href="#">
						<div class="panel-footer">
							<span class="pull-left">Ver más Detalles</span>
							<span class="pull-right"><i class="glyphicon glyphicon-chevron-right" aria-hidden="true"></i></span>
							<div class="clearfix"></div>
						</div>
					</a>
				</div>
			</div>-->
		</div>
	</div>

	<div class="col-lg-3 col-sm-2 col-md-4 col-xs-12">
		<div class="row">
			<div class="page-header"><h3>Mensajes</h3></div>
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="over">
						{% if not (app.session.flashbag.has('grave')) %}
						{% if not (app.session.flashbag.has('informacion')) %}
							<span>No hay mensajes para mostrar.</span>
						{% endif %}
						{% endif %}
						{% for message in app.session.flashbag.get('grave') %}
							<a href="{{ path('reserva_show', { 'id': message.id }) }}"><span class="labelalert labelalert-grave">La reserva {{ message.codigo }} tiene {{ message.dias }} días vencida. </span></a>
						{% endfor %}
						{% for message in app.session.flashbag.get('informacion') %}
							<a href="{{ path('reserva_show', { 'id': message.id }) }}"><span class="labelalert labelalert-normal">Esta {{ message.codigo }} debería ser concretada hoy.</span></a>
						{% endfor %}
						<!--<span class="labelalert labelalert-primary">labelalert-primary</span>
						<span class="labelalert labelalert-atencion">labelalert-atencion</span>-->
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}