{% extends 'LIHotelBundle::base.html.twig' %}

{% block title %}Hotel Symfony - Registro{% endblock%}

{% block body %}
    <div class="navbar-wrapper">
        <div class="container">
            <nav class="navbar navbar-inverse navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{{ path('LIHotelBundle_homepage') }}">
                            <img width="20" height="20" alt="Brand" src="{{ asset('bundles/lihotel/images/icon.ico') }}">
                        </a>
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand brandname" href="{{ path('LIHotelBundle_homepage') }}">Hotel Symfony</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{{ path('LIHotelBundle_homepage') }}">Inicio</a></li>
                            <li><a href="{{ path('LIHotelBundle_consultar') }}">Consultar</a></li>
                            <li class="active"><a href="{{ path('LIHotelBundle_registro') }}">Registro</a></li>
                            <button type="button" class="btn btn-success navbar-btn" style="margin-right:10px; margin-left:10px">Iniciar Sesión</button>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="container" style="padding-top: 60px;">
        <div class="row">
            <div class="col-md-6 col-md-6">
                <div class="page-header">
                    <h1>Inicie Sesión</h1>
                </div>
                <div class="col-md-12 col-md-12">
                    {% for flashMessage in app.session.flashbag.get('errorsesion') %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <strong> {{ flashMessage }}</strong>
                      </div>
                    {% endfor %}
                    <div class="row">
                        <div class="col-md-6 col-md-6"><center><img src="{{ asset('bundles/lihotel/images/signup-icon.png') }}" width="100px" height="100px"></center></div>
                        <div class="col-md-6 col-md-6"><p>Consulte todo lo referente a sus reservas, verifique sus consumos y descubra nuestros descuentos como miembro del hotel.</p></div>
                    </div>
                    <!--<form action="{{ path('LIHotelBundle_sesion') }}" method="POST" name="sesion" class="usuario">
                        <div class="input-group">
                          <span class="glyphicon glyphicon-envelope input-group-addon" id="basic-addon1" aria-hidden="true"></span>
                          <input type="text" name="mail" class="form-control" placeholder="Correo Electronico" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group" style="margin-top: 10px; margin-bottom:10px;">
                          <span class="glyphicon glyphicon-asterisk input-group-addon" id="basic-addon1" aria-hidden="true"></span>
                          <input type="password" name="pass" class="form-control" placeholder="Contraseña" aria-describedby="basic-addon1">
                        </div>
                    </form>-->
                    <form action="{{ path('LIHotelBundle_sesion') }}" method="post" {{ form_enctype(form2) }} class="usuario">
                        {% form_theme form2 'bootstrap_3_layout.html.twig'  %}
                        {{ form_errors(form2) }}
                        {{ form_row(form2._token) }}

                        {{ form_widget(form2.mail, {'attr':{'placeholder':'Correo Electronico', 'autocomplete':'off'}}) }}
                        {{ form_widget(form2.password, {'attr':{'placeholder':'Contraseña', 'autocomplete':'off'}}) }}
                        {{ form_rest(form2) }}

                        <button type="button submit" class="btn btn-primary col-md-6 pull-right">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Iniciar Sesión
                        </button>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="page-header">
                    <h1>Regístrese</h1>
                </div>
                {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="alert alert-success alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <strong> {{ flashMessage }}</strong>
                  </div>
                {% endfor %}
                <div class="col-md-8 col-md-8">
                    <form action="{{ path('LIHotelBundle_registro') }}" method="post" {{ form_enctype(form) }} class="usuario">
                        {% form_theme form 'bootstrap_3_layout.html.twig'  %}
                        {{ form_errors(form) }}
                        {{ form_row(form._token) }}

                        {{ form_widget(form.nombre, {'attr':{'placeholder':'Nombre', 'autocomplete':'off'}}) }}
                        {{ form_widget(form.apellido, {'attr':{'placeholder':'Apellido', 'autocomplete':'off'}}) }}
                        {{ form_row(form.mail, {'attr': {'type':'text', 'placeholder':'Correo Electronico', 'autocomplete':'off'}}) }}
                        {{ form_widget(form.clave, {'attr':{'placeholder':'Password', 'autocomplete':'off'}}) }}
                        {{ form_row(form.edad, {'attr':{'placeholder':'Edad', 'autocomplete':'off'}}) }}

                        {{ form_rest(form) }}

                        <button type="button submit" class="btn btn-success col-md-6 pull-right">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Enviar Registro
                        </button>
                    </form>
                </div>
                <div class="col-md-4 col-md-4">
                    <center><img src="{{ asset('bundles/lihotel/images/signup-icon.png') }}" width="120px" height="120px"></center>
                    <p>No sea un gran tonto y regístrese, descubra todos los beneficios de formar parte de nuestra exclusiva y singular cadena.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style type="text/css">
        .usuario > input{
            margin-bottom: 10px;
        }
    </style>
{% endblock %}