{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Compensacion list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Porcentaje</th>
                <th>Dedias</th>
                <th>Adias</th>
                <th>Dehoras</th>
                <th>Ahoras</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('compensacion_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.porcentaje }}</td>
                <td>{{ entity.deDias }}</td>
                <td>{{ entity.aDias }}</td>
                <td>{{ entity.deHoras }}</td>
                <td>{{ entity.aHoras }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('compensacion_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('compensacion_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('compensacion_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
