{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Compensacion</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Porcentaje</th>
                <td>{{ entity.porcentaje }}</td>
            </tr>
            <tr>
                <th>Dedias</th>
                <td>{{ entity.deDias }}</td>
            </tr>
            <tr>
                <th>Adias</th>
                <td>{{ entity.aDias }}</td>
            </tr>
            <tr>
                <th>Dehoras</th>
                <td>{{ entity.deHoras }}</td>
            </tr>
            <tr>
                <th>Ahoras</th>
                <td>{{ entity.aHoras }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('compensacion') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('compensacion_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
