{% extends 'LIHotelBundle::adminBase.html.twig' %}

{% block body -%}
	<div class="page-header">
		<h1>Modificar Datos del Usuario</h1>
	</div>
    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}
    
        {{ form_row(edit_form.nombre) }}
        {{ form_row(edit_form.apellido) }}
        {{ form_row(edit_form.enabled) }}
        {{ form_row(edit_form.roles) }}
        {{ form_row(edit_form.username) }}
        {{ form_row(edit_form.email) }}
        {{ form_row(edit_form.fecha_nac) }}
        {{ form_row(edit_form.submit) }}

    {{ form_end(edit_form) }}
    {#{ form_end(edit_form, {'render_rest': false}) }#}

    <div class="row">
        <div class="col-lg-4 col-sm-4 col-xs-12"><a class="btn btn-success btn-block" href="{{ path('usuario') }}" role="button">Regresar</a></div>
        <div class="col-lg-4 col-sm-4 col-xs-12">{{ form(delete_form) }}</div>
    </div>
{% endblock %}
