{% extends 'LIHotelBundle::adminBase.html.twig' %}

{% block body -%}
    <div class="page-header">
        <h1>Usuario</h1>
    </div>
    <table class="table table-bordered table-responsive table-striped records_list">
        <thead>
            <tr>
                <th>Nombre y Apellido</th>
                <th>Fecha Nacimiento</th>
                <th>Estado</th>
                <th>Correo</th>
                <th>Usuario</th>
                <th>Última Conexión</th>
                <th>Roles</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ entity.nombre }} {{ entity.apellido }}</td>
                <td>{% if entity.fechanac %}{{ entity.fechanac|date('d-m-Y') }}{% endif %}</td>
                <td>{% if entity.enabled %}Activo{% else %}Inactivo{% endif %}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.username }}</td>
                <td>{{ entity.lastLogin|date('d-m-Y H:i') }}</td>
                <td>{% for role in entity.roles %}
                    {{ role }} 
                {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-lg-4 col-sm-4 col-xs-12"><a class="btn btn-success btn-block" href="{{ path('usuario') }}" role="button">Regresar</a></div>
        <div class="col-lg-4 col-sm-4 col-xs-12"><a class="btn btn-warning btn-block" href="{{ path('usuario_edit', { 'id': entity.id }) }}" role="button">Editar Datos de {{ entity.nombre }}</a></div>
        <div class="col-lg-4 col-sm-4 col-xs-12">{{ form(delete_form) }}</div>
    </div>
{% endblock %}