{% extends 'LIHotelBundle::adminBase.html.twig' %}

{% block body -%}
    <h1>Usuario</h1>

    <table class="table table-bordered table-responsive table-striped records_list">
        <thead>
            <tr>
                <th>Nombre y Apellido</th>
                <th>Fecha Nacimiento</th>
                <th>Estado</th>
                <th>Correo y Usuario</th>
                <th>Ultima Conexión</th>
                <th>Roles</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ entity.nombre }} {{ entity.apellido }}</td>
                <td>{% if entity.fechanac %}{{ entity.fechanac|date('d-m-Y') }}{% endif %}</td>
                <td>{% if entity.enabled %}Activo{% else %}Inactivo{% endif %}</td>
                <td>{{ entity.email }} ({{ entity.username }})</td>
                <td>{{ entity.lastLogin|date('d-m-Y H:i') }}</td>
                <td>{% for role in entity.roles %}
                    {{ role }} 
                {% endfor %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('usuario_edit', { 'id': entity.id }) }}">
                            Edit
                        </a>
                    </li>
                </ul>
                </td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
            <li>
                <a href="{{ path('usuario') }}">
                    Back to the list
                </a>
            </li>
            <li>
                <a href="{{ path('usuario_edit', { 'id': entity.id }) }}">
                    Edit
                </a>
            </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}