<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>{% block title %}Hotel Symfony - Administrativo{% endblock %}</title>
	
	<link rel="icon" type="image/x-icon" href="{{ asset('bundles/lihotel/images/icon.ico') }}" />
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/lihotel/css/bootstrap.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/lihotel/css/bootstrap-theme.css') }}">
	{% block stylesheets %}{% endblock %}

	<script src="{{ asset('bundles/lihotel/js/jquery.min.js') }}"></script>
	<script src="{{ asset('bundles/lihotel/js/bootstrap.min.js') }}"></script>
	<script src="{{ asset('bundles/lihotel/js/modalSesion.js') }}"></script>
	<script> $(document).ready(function(){ $('[data-toggle="tooltip"]').tooltip(); }); </script>
	{% block javascripts %}{% endblock %}
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="{{ path('LIHotelBundle_homepage') }}">
					<img width="20" height="20" alt="Brand" src="{{ asset('bundles/lihotel/images/icon.ico') }}">
				</a>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand brandname" href="{{ path('LIHotelBundle_homepage') }}">Hotel Symfony</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<form class="navbar-form navbar-right" role="search">
                    <a class="btn btn-success" href="{{ path('fos_user_security_logout') }}" data-toggle="tooltip" data-placement="left" title="Cerrar sesión"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a>
                </form>
                <ul class="nav navbar-nav opciones-extras">
                	{% block opciones %}{% endblock %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
					<li>
						<a href="{{ path('LIHotelBundle_homepage') }}" class="negritas"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Inicio</a>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle negritas" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-bell" aria-hidden="true"></span> Reservas <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="{{ path('user_reserva_new') }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nueva Reserva</a></li>
							<li><a href="{{ path('user_reserva') }}"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Mis Reservas Reservas</a></li>
						</ul>
					</li>
					<li>
						<a href="{{ path('user_habitacion') }}" class="negritas"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Habitaciones</a>
					</li>
					<li>
						<a href="{{ path('user_consumos') }}" class="negritas"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Consumos</a>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle negritas" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ app.user.nombre }} <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li class="dropdown-header">Operaciones sobre su cuenta</li>
							<li><a href="{{ path('fos_user_profile_show') }}"><span class="glyphicon glyphicon-barcode" aria-hidden="true"></span> Datos de la Cuenta</a></li>
							<li><a href="{{ path('fos_user_profile_edit') }}"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Modificar Datos</a></li>
							<li><a href="{{ path('fos_user_change_password') }}"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> Cambiar Contraseña</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle negritas" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ayuda <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li class="dropdown-header">Cominiquese con nosotros</li>
							<li><a>0500 HOTELSYM 00</a></li>
							<li><a>@hotelsymfony</a></li>
							<li><a href="{{ path('LIHotelBundle_inicio') }}">Página del Hotel</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row">
		<div class="col-lg-12">
			{% block body %}{% endblock %}
		</div>
		</div>
	</div>

	<div class="container-fluid">
	<div id="london"></div>
		<div>
			<div class="col-md-4">
				<center>
					<div class="col-md-6 col-xs-6">
						<img src="{{ asset('bundles/lihotel/images/LOGO UC.png') }}" alt="rude" width="30" height="40">
						<h6>Universidad de Carabobo</h6>
					</div><!-- /.col-md-6 -->
					<div class="col-md-6 col-xs-6">
						<img src="{{ asset('bundles/lihotel/images/LOGO FACYT.png') }}" alt="rude" width="30" height="35">
						<h6>Facultad Experimental de Ciencias y Tecnología</h6>
					</div><!-- /.col-md-6 -->
				</center>
			</div>
			<div class="col-md-4" id="lado">
				<center>
					<div class="col-md-12">
						<img data-toggle="tooltip" title="Jajaja, Necesitas tiempo, tutoriales y mucha lectura para dominarme!" class="img-circle" src="{{ asset('bundles/lihotel/images/symfony2.png') }}" alt="rude" width="30" height="30">
						<h6>Int. al uso de Frameworks <br>para el Desarrollo de Apps Web<br>Prof. Luis León<br></h6>
					</div>
				</center>
			</div>
			<div class="col-md-4" id="lado">
				<center>
					<div class="col-md-6 col-xs-6">
						<img data-toggle="tooltip" title="Break a leg!" class="img-circle" src="{{ asset('bundles/lihotel/images/luis.jpg') }}" alt="rude" width="35" height="35">
						<h6>Luis Pérez</h6>
					</div><!-- /.col-md-4 -->
					<div class="col-md-6 col-xs-6">
						<img data-toggle="tooltip" title="Some people want to set the world on fire." class="img-circle" src="{{ asset('bundles/lihotel/images/ivo.jpg') }}" alt="rude" width="35" height="35">
						<h6>Ivonne Ortega</h6>
					</div><!-- /.col-md-4 -->
				</center>
			</div>
		</div>
	</div>
</body>
</html>
<style type="text/css">
	@font-face {
	    font-family: "Raleway-Regular";
	    src: url('{{ asset('bundles/lihotel/fonts/instagram.woff') }}') format('woff');
	}
	h6{ text-align: center; }
	#london{ border-top: 1px solid #eeeeee; margin-bottom: 15px; margin-top: 15px; }
	#lado{ border-left: 1px solid #eeeeee; }
	.negritas{ font-weight: bold; }
</style>
