{% extends 'LIHotelBundle::adminBase.html.twig' %}
	
{% block body -%}
	<div class="page-header"><h1>Concretar Reserva</h1></div>

	<div class="row">
		<div class="col-lg-6" style="float: none; margin: 0 auto;">
			{% for message in app.session.flashbag.get('concretar_malos') %}
				<div class="alert alert-danger" role="alert"><b>Oh crap! </b>{{ message }}</div>
			{% endfor %}
			{% for message in app.session.flashbag.get('concretar_buenos') %}
				<div class="alert alert-success" role="alert"><b>En horabuena! </b>{{ message }}</div>
			{% endfor %}
			{% for message in app.session.flashbag.get('concretar_info') %}
				<div class="alert alert-info" role="alert"><b>Disculpe! </b>{{ message }}</div>
			{% endfor %}
			{{ form_start(form) }}
			<div class="input-group">
  				<span class="input-group-addon" id="basic-addon1">Código</span>
  				{{ form_row(form.codigo_reserva) }}
  			</div>
			<div class="row">
				<br>
				<div class="col-lg-6">{{ form_row(form.reset)}}</div>
				<div class="col-lg-6">{{ form_row(form.submit)}}</div>
			</div>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}