{% extends user.roles|first == 'ROLE_ADMIN' 
    ? 'LIHotelBundle::adminBase.html.twig' 
    : 'LIHotelBundle::userBase.html.twig' %}
    
{% block body -%}
    <div class="page-header">
        <h1>Modificar su Reserva</h1>
    </div>
    {{ form_start(edit_form) }}
        {{ form_errors(edit_form) }}

        {{ form_row(edit_form.cliente, {'disabled': 'true'}) }}
        {{ form_row(edit_form.estadoReserva) }}
        {{ form_row(edit_form.habitacion) }}
        {{ form_row(edit_form.cantidadPersonas) }}
        {{ form_row(edit_form.cantidadNinos) }}
        {{ form_row(edit_form.diasReserva) }}
        {{ form_row(edit_form.fecha_desde) }}
        {{ form_row(edit_form.submit) }}

    {{ form_end(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('user_reserva') }}">Back to the list</a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
