{% extends 'LIHotelBundle::userBase.html.twig' %}

{% block body -%}
    <div class="page-header">
        <h1>Detalles Reserva</h1>
    </div>

    <div class="row">
        <div class="col-lg-3 col-sm-3 col-xs-12">
            <ul class="nav nav-stacked">
                {% if entity.estadoReserva != 'Por Concretar' %}
                <li role="presentation"><a class="btn btn-info btn-block" href="{{ path('user_reserva_factura', { 'codigo': entity.codigoReserva }) }}" role="button">Descargar Factura PDF</a></li>{% endif %}
                {% if entity.estadoReserva != 'Cancelada' %}
                <li role="presentation"><a class="btn btn-primary btn-block" href="{{ path('reserva_cancelar', { 'codigo': entity.codigoReserva }) }}">Cancelar Reserva</a></li>{% endif %}
                <li role="presentation"><a class="btn btn-success btn-block" href="{{ path('user_reserva') }}" role="button">Ver todas las Reservas</a></li>
                {% if entity.estadoReserva != 'Cancelada' %}<li role="presentation"><a class="btn btn-warning btn-block" href="{{ path('user_reserva_edit', { 'id': entity.id }) }}" role="button">Editar Reserva</a></li>{% endif %}
                {% if entity.estadoReserva != 'Cancelada' %}<li role="presentation"><a type="button" class="btn btn-danger" data-toggle="modal" data-target="#ModalEliminarReserva">Eliminar Reserva</a></li>{% endif %}
            </ul>
        </div>

        <!-- PANEL DEL CONTENIDO -->
        <div class="col-lg-9 col-sm-9 col-xs-12">
            {% for message in app.session.flashbag.get('reserva_buenos') %}
                <div class = "alert alert-success alert-dismissable">
                    <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                    <b>Muy bien! </b>{{ message }}
                </div>
            {% endfor %}
            {% for message in app.session.flashbag.get('reserva_info') %}
                <div class = "alert alert-info alert-dismissable">
                    <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                    <b>Muy bien! </b>{{ message }}
                </div>
            {% endfor %}
            {% for message in app.session.flashbag.get('reserva_malos') %}
                <div class = "alert alert-danger alert-dismissable">
                    <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                    <b>Holy Whack-A-Mole! </b>{{ message }}
                </div>
            {% endfor %}

            <p class="text-success">Ningun cobro séra realizado previamente a la concretación o cancelaracion de esta reserva.</p>
            <div class="table-responsive">
            <table class="table table-bordered table-condensed record_properties">
                <thead>
                    <tr>
                        <th colspan="4">Detalles de la Reserva</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Código de la Reserva</th>
                        <td colspan="3">{{ entity.codigoReserva }}</td>
                    </tr>
                    <tr>
                        <th>Estado de su Reserva</th>
                        <td colspan="3">{{ entity.estadoReserva }}</td>
                    </tr>
                    <tr>
                        <th>Habitación Reservada</th>
                        <td class="text-center">{{ entity.habitacion.numero }} - {{ entity.habitacion.nombre }}</td>
                        <td class="text-center">{{ entity.habitacion.tipo.tipoHabitacion.nombre }}</td>
                        <td class="text-center">{{ entity.habitacion.tipo.categoriaHabitacion.nombre }}</td>
                    </tr>
                    <tr>
                        <th>Reservada para la fecha</th>
                        <td colspan="3">{{ entity.fechareserva|localizeddate('long', 'medium', 'es') }}</td>
                    </tr>
                    <tr>
                        <th>Periodo de Estadia</th>
                        <td colspan="3">{{ entity.fechadesde|localizeddate('long', 'none', 'es') }} <b>al</b> 
                        {% set diasR = entity.diasReserva - 1 %}
                        {{ entity.fechadesde|date_modify('+' ~ diasR ~ ' days')|localizeddate('long', 'none', 'es') }}</td>
                    </tr>
                    <tr>
                        <th>Reservada para</th>
                        <td colspan="3">{{ entity.cantidadPersonas + entity.cantidadNinos }} personas</td>
                    </tr>
                    <tr>
                        <th>Período en días de la reserva</th>
                        <td colspan="3">{{ entity.diasReserva }} días</td>
                    </tr>
                </tbody>
            </table>
            </div>

            <table class="table table-bordered table-condensed">
            <thead><tr><th colspan="2">Factura Asociada a la Reserva</th></tr></thead>
            <tbody>
                <tr><td>Cantidad de Días</td><td>{{ entity.factura.diasReserva }} días</td></tr>
                <tr><td>Costo Bebidas</td><td>{{ entity.factura.costoBebida }} Bolívares</td></tr>
                <tr><td>Costo Llamadas</td><td>{{ entity.factura.costoLlamada }} Bolívares</td></tr>
                <tr><td>Costo Total Acumulado</td><td>{{ (entity.factura.costoTotal + entity.factura.costoLlamada + entity.factura.costoBebida)|number_format }} Bolívares <small>incluye bebidas y llamadas</small></td></tr>
                <tr><td>Fecha</td><td>{{ entity.factura.fecha|localizeddate('long', 'none', 'es') }}</td></tr>
            </tbody>
            </table>
            <p class="text-danger text-center"><b>Importante!</b> Podrá bajar la factura en PDF cuando el estatus de la reserva sea <i>Concretada</i> o <i>Cancelada</i>.</p>
        </div>
    </div>
<!-- EL MODAL -->
<div class="modal fade" id="ModalEliminarReserva" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-danger">¡Cuidado!</h4>
            </div>
            <div class="modal-body">
                <p>¿Está seguro de que desea realizar esta operación? Se eliminarán los datos asociados a la reserva.</p>
            </div>
            <div class="modal-footer">
            <style type="text/css">.form-group{ margin-bottom: 0px !important; }</style>
            {{ form(delete_form) }}
            </div>
        </div>
    </div>
</div>
<!-- AQUI FINALIZA EL MODAL -->
{% endblock %}
