{% extends 'LIHotelBundle::userBase.html.twig' %}

{% block body -%}
    <div class="page-header">
        <h1>Reserva </h1>
    </div>

<div class="row">
    {% for message in app.session.flashbag.get('reserva_info') %}
        <div class="alert alert-info" role="alert"><b>Pss Disculpe! </b>{{ message }}</div>
    {% endfor %}

    <div class="col-lg-6">
        <table class="table table-bordered record_properties">
            <thead>
                <tr>
                    <th colspan="2">Detalles de la Reserva</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Código de la Reserva</th>
                    <td>{{ entity.codigoReserva }}</td>
                </tr>
                <tr>
                    <th>Estado de su Reserva</th>
                    <td>{{ entity.estadoReserva }}</td>
                </tr>
                <tr>
                    <th>Habitación Reservada</th>
                    <td>{{ entity.habitacion }} ({{ entity.habitacion.numero }})</td>
                </tr>
                <tr>
                    <th>Cliente</th>
                    <td>{{ entity.cliente }}</td>
                </tr>
                <tr>
                    <th>Reservada para la fecha</th>
                    <td>{{ entity.fechareserva|localizeddate('long', 'medium', 'es') }}</td>
                </tr>
                <tr>
                    <th>Periodo de Estadia</th>
                    <td>{{ entity.fechadesde|localizeddate('long', 'none', 'es') }} <b>al</b> 
                    {% set diasR = entity.diasReserva - 1 %}
                    {{ entity.fechadesde|date_modify('+' ~ diasR ~ ' days')|localizeddate('long', 'none', 'es') }}</td>
                </tr>
                <tr>
                    <th>Reservada para</th>
                    <td>{{ entity.cantidadPersonas + entity.cantidadNinos }} personas</td>
                </tr>
                <tr>
                    <th>Período en días de la reserva</th>
                    <td>{{ entity.diasReserva }} días</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-6">
        <table class="table table-bordered">
        <thead><tr><th colspan="2">Factura Asociada a la Reserva</th></tr></thead>
        <tbody>
            <tr><td>Cantidad de Días</td><td>{{ entity.factura.diasReserva }}</td></tr>
            <tr><td>Costo Acumulado</td><td>{{ entity.factura.costoTotal }} Bolívares</td></tr>
            <tr><td>Fecha</td><td>{{ entity.factura.fecha|localizeddate('long', 'none', 'es') }}</td></tr>
        </tbody>
        </table>
    </div>
</div>

    <div class="row">
        <div class="col-lg-4 col-sm-4 col-xs-12"><a class="btn btn-success btn-block" href="{{ path('user_reserva') }}" role="button">Regresar</a></div>
        {% if entity.estadoReserva != 'Cancelada' %}
        <div class="col-lg-4 col-sm-4 col-xs-12"><a class="btn btn-warning btn-block" href="{{ path('user_reserva_edit', { 'id': entity.id }) }}" role="button">Editar Reserva</a></div>{% endif %}
        <div class="col-lg-4 col-sm-4 col-xs-12">{{ form(delete_form) }}</div>
    </div>

{% endblock %}
