{% extends 'LIHotelBundle::adminBase.html.twig' %}
{% block body -%}
	<div class="page-header">
		<h1>Detalles Reserva</h1>
	</div>

<div class="row">
	<!-- PANEL DE LOS BOTONES -->
	<div class="col-lg-3 col-sm-3 col-xs-12">
		<ul class="nav nav-stacked">
			{% if entity.estadoReserva != 'Por Concretar' %}
			<li role="presentation"><a class="btn btn-info btn-block" href="{{ path('user_reserva_factura', { 'codigo': entity.codigoReserva }) }}" role="button">Descargar Factura PDF</a></li>
			{% endif %}
			{% if entity.estadoReserva == 'Por Concretar' %}
			<li role="presentation"><a class="btn btn-primary btn-block" href="{{ path('reserva_concretar_auto', { 'codigo': entity.codigoReserva }) }}">Concretar Reserva</a></li>
			{% endif %}
			{% if (entity.estadoReserva != 'Cancelada') %}<li role="presentation"><a class="btn btn-primary btn-block" href="{{ path('reserva_cancelar', { 'codigo': entity.codigoReserva }) }}">Cancelar Reserva</a></li>
			{% endif %}
			<li role="presentation"><a class="btn btn-success btn-block" href="{{ path('reserva') }}" role="button">Ver todas las Reservas</a></li>
			<li role="presentation">{% if entity.estadoReserva != 'Cancelada' %}
				<a class="btn btn-warning btn-block" href="{{ path('reserva_edit', { 'id': entity.id }) }}" role="button">Editar Reserva</a>
			{% endif %}</li>
			<li role="presentation"><a type="button" class="btn btn-danger" data-toggle="modal" data-target="#ModalEliminarReserva">Eliminar Reserva</a></li>
		</ul>
	</div>

	<!-- PANEL DEL CONTENIDO -->
	<div class="col-lg-9 col-sm-9 col-xs-12">
		{% for message in app.session.flashbag.get('reserva_malos') %}
			<div class = "alert alert-danger alert-dismissable">
		        <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
		        <b>Holy Whack-A-Mole! </b>{{ message }}
	    	</div>
		{% endfor %}
		{% for message in app.session.flashbag.get('reserva_buenos') %}
			<div class = "alert alert-success alert-dismissable">
    			<button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
    			<b>En horabuena! </b>{{ message }}
    		</div>
		{% endfor %}
		{% for message in app.session.flashbag.get('reserva_info') %}
			<div class = "alert alert-info alert-dismissable">
    			<button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
    			<b>Disculpe! </b>{{ message }}
    		</div>
		{% endfor %}

		{% if entity.estadoReserva == 'Cancelada' %}
			<div class="alert alert-danger" role="alert">Esta reserva ha sido cancelada. Ciertas operaciones no están permitidas.</div>
		{% endif %}

		<table class="table table-bordered record_properties">
			<thead>
				<tr>
					<th colspan="4">Detalles de la Reserva</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>Código de la Reserva</th>
					<td colspan='3'>{{ entity.codigoReserva }}</td>
				</tr>
				<tr>
					<th>Estado de la Reserva</th>
					<td colspan='3'>{{ entity.estadoReserva }}</td>
				</tr>
				<tr>
					<th>Habitación Reservada</th>
					<td>{{ entity.habitacion.numero }} - {{ entity.habitacion.nombre }} <a href="{{ path('habitacion_show', { 'id': entity.habitacion.id }) }}" name="Ver Detalles"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></td>
                    <td>{{ entity.habitacion.tipo.tipoHabitacion.nombre }}</td>
                    <td>{{ entity.habitacion.tipo.categoriaHabitacion.nombre }}</td>
				</tr>
				<tr>
					<th>Cliente</th>
					<td colspan='3'>{{ entity.cliente }} <a href="{{ path('usuario_show', { 'id': entity.cliente.id }) }}" name="Ver Detalles"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></td>
				</tr>
				<tr>
					<th>Reserva realizada el</th>
					<td colspan='3'>{{ entity.fechareserva|localizeddate('long', 'medium', 'es') }}</td>
				</tr>
				<tr>
					<th>Reservada para la fecha</th>
					<td colspan='3'>{{ entity.fechadesde|localizeddate('long', 'none', 'es') }}{% set diasR = entity.diasReserva - 1 %}
					| {{ entity.fechadesde|date_modify('+' ~ diasR ~ ' days')|localizeddate('long', 'none', 'es') }}</td>
				</tr>
				<tr>
					<th>Reservada para</th>
					<td colspan='3'>{{ entity.cantidadPersonas + entity.cantidadNinos }} personas</td>
				</tr>
				{% if entity.estadoReserva != 'Cancelada' %}
				<tr>
					<th>Período en días de la reserva</th>
					<td colspan='3'>{{ entity.diasReserva }} días</td>
				</tr>
				{% endif %}
			</tbody>
		</table>

		<p>Detalles de los consumos y costos asociados a la reserva y la habitación.</p>
		<table class="table table-bordered">
		<thead><tr><th colspan="2">Factura Asociada a la Reserva</th></tr></thead>
		<tbody>
			<tr><td>Fecha Factuación</td><td>{{ entity.factura.fecha|localizeddate('long', 'none', 'es') }}</td></tr>
			<tr><td>Cantidad de Días</td><td>{{ entity.factura.diasReserva }} días</td></tr>
			<tr><td>Costo Bebidas</td><td>{{ entity.factura.costoBebida }} Bolívares</td></tr>
			<tr><td>Costo Llamadas</td><td>{{ entity.factura.costoLlamada }} Bolívares</td></tr>
			<tr><td>Costo Acumulado</td><td>{{ ntity.factura.costoTotal + entity.factura.costoLlamada + entity.factura.costoBebida }} Bolívares</td></tr>
		</tbody>
		</table>
	</div>
</div>

<!-- EL MODAL -->
<div class="modal fade" id="ModalEliminarReserva" role="dialog">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">¡Cuidado!</h4>
			</div>
			<div class="modal-body">
				<p>¿Está seguro de que desea realizar esta operación? Se eliminarán los datos asociados a la reserva.</p>
			</div>
			<div class="modal-footer">
				<style type="text/css">.form-group{ margin-bottom: 0px !important; }</style>
				{{ form(delete_form) }}
			</div>
		</div>
	</div>
</div>
<!-- AQUI FINALIZA EL MODAL -->
{% endblock %}
