{% extends 'LIHotelBundle::adminBase.html.twig' %}
{% block body -%}
	<div class="page-header">
		<h1>Detalles Reserva</h1>
	</div>

<div class="row">
	<!-- PANEL DE LOS BOTONES -->
	<div class="col-lg-3 col-sm-3 col-xs-12">
		<ul class="nav nav-stacked">
			{% if entity.estadoReserva != 'Por Concretar' %}
			<li role="presentation"><a class="btn btn-info btn-block" href="{{ path('user_reserva_factura', { 'codigo': entity.codigoReserva }) }}" role="button">Descargar Factura PDF</a></li>
			{% endif %}
			{% if entity.estadoReserva == 'Por Concretar' %}
			<li role="presentation"><a class="btn btn-primary btn-block" href="{{ path('reserva_concretar_auto', { 'codigo': entity.codigoReserva }) }}">Concretar Reserva</a></li>
			{% endif %}
			{% if (entity.estadoReserva != 'Cancelada') %}<li role="presentation"><a class="btn btn-primary btn-block" href="{{ path('reserva_cancelar', { 'codigo': entity.codigoReserva }) }}">Cancelar Reserva</a></li>
			{% endif %}
			<li role="presentation"><a class="btn btn-success btn-block" href="{{ path('reserva') }}" role="button">Ver todas las Reservas</a></li>
			<li role="presentation">{% if entity.estadoReserva != 'Cancelada' %}
				<a class="btn btn-warning btn-block" href="{{ path('reserva_edit', { 'id': entity.id }) }}" role="button">Editar Reserva</a>
			{% endif %}</li>
			<li role="presentation"><a type="button" class="btn btn-danger" data-toggle="modal" data-target="#ModalEliminarReserva">Eliminar Reserva</a></li>
		</ul>
	</div>

	<!-- PANEL DEL CONTENIDO -->
	<div class="col-lg-9 col-sm-9 col-xs-12">
		{% for message in app.session.flashbag.get('reserva_malos') %}
			<div class = "alert alert-danger alert-dismissable">
		        <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
		        <b>Holy Whack-A-Mole! </b>{{ message }}
	    	</div>
		{% endfor %}
		{% for message in app.session.flashbag.get('reserva_buenos') %}
			<div class = "alert alert-success alert-dismissable">
    			<button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
    			<b>En horabuena! </b>{{ message }}
    		</div>
		{% endfor %}
		{% for message in app.session.flashbag.get('reserva_info') %}
			<div class = "alert alert-info alert-dismissable">
    			<button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
    			<b>Disculpe! </b>{{ message }}
    		</div>
		{% endfor %}

		{% if entity.estadoReserva == 'Cancelada' %}
			<div class="alert alert-danger" role="alert">Esta reserva ha sido cancelada. Ciertas operaciones no están permitidas.</div>
		{% endif %}
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> Detalles de la Reserva</h3>
			</div>
			<table class="table table-bordered record_properties">
				<tbody>
					<tr>
						<th>Código de la Reserva</th>
						<td colspan='3'>{{ entity.codigoReserva }}</td>
					</tr>
					<tr>
						<th>Estado de la Reserva</th>
						<td colspan='3'>{{ entity.estadoReserva }}</td>
					</tr>
					<tr>
						<th>Habitación Reservada</th>
						<td><center>{{ entity.habitacion.numero }} - {{ entity.habitacion.nombre }} <a href="{{ path('habitacion_show', { 'id': entity.habitacion.id }) }}" data-toggle="tooltip" data-placement="top" title="Ver información de la habitación"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></center></td>
	                    <td><center>{{ entity.habitacion.tipo.tipoHabitacion.nombre }}</center></td>
	                    <td><center>{{ entity.habitacion.tipo.categoriaHabitacion.nombre }}</center></td>
					</tr>
					<tr>
						<th>Cliente</th>
						<td colspan='3'>{{ entity.cliente }} <a href="{{ path('usuario_show', { 'id': entity.cliente.id }) }}" data-toggle="tooltip" data-placement="top" title="Ver información del cliente"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></td>
					</tr>
					<tr>
						<th>Reserva realizada el</th>
						<td colspan='3'>{{ entity.fechareserva|localizeddate('long', 'medium', 'es') }}</td>
					</tr>
					<tr>
						<th>Reservada para la fecha</th>
						<td colspan='3'>{{ entity.fechadesde|localizeddate('long', 'none', 'es') }}{% set diasR = entity.diasReserva - 1 %}
						| {{ entity.fechadesde|date_modify('+' ~ diasR ~ ' days')|localizeddate('long', 'none', 'es') }}</td>
					</tr>
					<tr>
						<th>Reservada para</th>
						<td colspan='3'>{{ entity.cantidadPersonas + entity.cantidadNinos }} personas</td>
					</tr>
					{% if entity.estadoReserva != 'Cancelada' %}
					<tr>
						<th>Período en días de la reserva</th>
						<td colspan='3'>{{ entity.diasReserva }} días</td>
					</tr>
					{% endif %}
				</tbody>
			</table>
		</div>

		<p>Detalles de los consumos y costos asociados a la reserva y la habitación.</p>
		<div class="panel panel-warning">
			<div class="panel-heading">
				<h3 class="panel-title"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> Factura Asociada a la Reserva</h3>
			</div>
			<table class="table table-bordered">
				<tbody>
					<tr><td class="negritas text-center">Fecha Factuación</td><td>{{ entity.factura.fecha|localizeddate('long', 'none', 'es') }}</td></tr>
					<tr><td class="negritas text-center">Cantidad de Días</td><td>{{ entity.factura.diasReserva }} días</td></tr>
					<tr><td class="negritas text-center">Costo Bebidas</td><td>{{ entity.factura.costoBebida }} Bolívares</td></tr>
					<tr><td class="negritas text-center">Costo Llamadas</td><td>{{ entity.factura.costoLlamada }} Bolívares</td></tr>
					<tr><td class="negritas text-center">Costo Acumulado</td><td>{{ (entity.factura.costoTotal + entity.factura.costoLlamada + entity.factura.costoBebida)|number_format }} Bolívares</td></tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<!-- EL MODAL -->
<div class="modal fade" id="ModalEliminarReserva" role="dialog">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">¡Cuidado!</h4>
			</div>
			<div class="modal-body">
				<p>¿Está seguro de que desea realizar esta operación? Se eliminarán los datos asociados a la reserva.</p>
			</div>
			<div class="modal-footer">
				<style type="text/css">.form-group{ margin-bottom: 0px !important; }</style>
				{{ form(delete_form) }}
			</div>
		</div>
	</div>
</div>
<!-- AQUI FINALIZA EL MODAL -->
{% endblock %}
