{% extends 'LIHotelBundle::adminBase.html.twig' %}

{% block body -%}
<div class="col-lg-12 col-sm-12 col-xs-12">
    <div class="page-header">
        <h1>Factura list <small>podrá ver todas las facturas de la reservas pasadas</small></h1>
    </div>

    <table class="table table-striped records_list">
        <thead>
            <tr>
                <th>ID</th>
                <th>Dias de Reserva</th>
                <th>Costo Total</th>
                <th>Fecha</th>
                <th>Reserva</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('factura_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.diasReserva }}</td>
                <td>{{ entity.costoTotal }}</td>
                <td>{{ entity.fecha|date('Y-m-d') }}</td>
                <td>{{ entity.reserva.codigoReserva }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('factura_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('factura_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('factura_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
</div>  
{% endblock %}
