{% extends 'LIHotelBundle::adminBase.html.twig' %}

{% block body -%}
    <div class="page-header">
        <h1>Modificar Ocupación Habitación<br><small>...</small></h1>
    </div>
    <div class="row">
        <div class="col-lg-12">
        {% for message in app.session.flashbag.get('ocupacion_malos') %}
            <div class="alert alert-danger" role="alert"><b>Oh crap! </b>{{ message }}</div>
        {% endfor %}
        {% for message in app.session.flashbag.get('ocupacion_buenos') %}
            <div class="alert alert-success" role="alert"><b>En horabuena! </b>{{ message }}</div>
        {% endfor %}

        {{ form_start(edit_form) }}
            {{ form_errors(edit_form) }}

        {{ form_end(edit_form) }}

        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-sm-4 col-xs-12"><a class="btn btn-success btn-block" href="{{ path('ocupacionhabitacion') }}" role="button">Regresar</a></div>
        <div class="col-lg-4 col-sm-4 col-xs-12">{{ form(delete_form) }}</div>
        <div class="col-lg-4 col-sm-4 col-xs-12">{{ form_row(edit_form.submit) }}</div>
    </div>
{% endblock %}
