{% extends 'LIHotelBundle::adminBase.html.twig' %}

{% block body -%}
    <div class="page-header">
        <h1>Modificar Ocupación Habitación</h1>
    </div>

    <div class="row">
        <div class="col-lg-3 col-sm-3 col-xs-12">
            <ul class="nav nav-stacked">
                <li role="presentation"><a class="btn btn-success btn-block" href="{{ path('ocupacionhabitacion') }}" role="button">Ver todas las Ocupaciones</a></li>
                <li role="presentation"><a type="button" class="btn btn-danger" data-toggle="modal" data-target="#ModalEliminarOcupacion">Eliminar Ocupación</a></li>
            </ul>
        </div>

        <!-- PANEL DEL CONTENIDO -->
        <div class="col-lg-9 col-sm-9 col-xs-12">
            {% for flashMessage in app.session.flashbag.get('ocupacion_malos') %}
                <div class = "alert alert-danger alert-dismissable">
                    <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                    <b>Holy Whack-A-Mole!</b> {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('ocupacion_buenos') %}
                <div class = "alert alert-success alert-dismissable">
                    <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                    <b>Muy bien!</b> {{ flashMessage }}
                </div>
            {% endfor %}

            {{ form_start(edit_form) }}
                {{ form_errors(edit_form) }}
            {{ form_end(edit_form) }}
        </div>
    </div>
<!-- EL MODAL -->
<div class="modal fade" id="ModalEliminarOcupacion" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-danger">¡Cuidado!</h4>
            </div>
            <div class="modal-body">
                <p>¿Está seguro de que desea realizar esta operación?</p>
                <p class="text-danger">Las ocupaciones son necesarias para establecer la cantidad de personas permitidas en una habitación.</p>
            </div>
            <div class="modal-footer">
            <style type="text/css">.form-group{ margin-bottom: 0px !important; }</style>
            {{ form(delete_form) }}
            </div>
        </div>
    </div>
</div>
<!-- AQUI FINALIZA EL MODAL -->
{% endblock %}
