{% extends 'LIHotelBundle::adminBase.html.twig' %}
{% block body -%}
    <div class="page-header">
        <h1>Ocupación Habitación<br><small>administre la cantidad de personas que pueden permanecer en una habitación segun su tipo y categoria.</small></h1>
    </div>
    <div class="row">
        <div class="col-lg-12">
            {% for message in app.session.flashbag.get('ocupacion_malos') %}
                <div class="alert alert-danger" role="alert"><b>Oh crap! </b>{{ message }}</div>
            {% endfor %}
            {% for message in app.session.flashbag.get('ocupacion_buenos') %}
                <div class="alert alert-success" role="alert"><b>En horabuena! </b>{{ message }}</div>
            {% endfor %}
            <table class="table table-bordered table-responsive table-striped records_list">
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.id }}</td>
                        <td>Por habitacion de tipo </td>
                        <td><b>"{{ entity.tipoHabitacion.nombre }}"</b></td>
                        <td> y de categoría </td>
                        <td><b>"{{ entity.categoriaHabitacion.nombre }}"</b></td>
                        <td> se permiten una cantidad máxima de </td>
                        <td><i>{{ entity.cantidadPersonasHabitacion }} personas</i>.</td>
                        <td><a href="{{ path('ocupacionhabitacion_edit', { 'id': entity.id }) }}">Modificar</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <p><small>consideres persona cualquier adulto o niño.</small></p>
        </div>
    </div>

    <p style="text-align: center;">
        <a class="btn btn-primary" href="{{ path('ocupacionhabitacion_new') }}" role="button">Agregar Opción de Ocupación</a>
    </p>
    
    {% endblock %}
