{% trans_default_domain 'FOSUserBundle' %}

    <div class="page-header">
        <h1>Detalles de su Cuenta</h1>
    </div>

    <div class="row">
        <div class="col-lg-2">
            <img src="{{ asset('bundles/lihotel/images/image_placeholder.jpg') }}" style="width: 100%;">
        </div>
        <div class="col-lg-10">
            <h3>Detalles Personales</h3>
            <div class="fos_user_user_show">
                <p><b>{{ 'profile.show.username'|trans }}</b>: {{ user.username }}</p>
                <p><b>{{ 'profile.show.email'|trans }}</b>: {{ user.email }}</p>
                <p><b>Nombre</b>: {{ user.nombre }}</p>
                <p><b>Apellido</b>: {{ user.apellido }}</p>
                <p><b>Fecha de Nacimiento</b>: {{ user.fechaNac|date("j \\d\\\e F") }}</p>
                <p><b>Role|s</b>: {% for role in user.roles %}{{ role }}. {% endfor %}</p>
            </div>
            <small>Cambiar contraseña actual</small>
            <small>Modificar datos de su cuenta</small>
        </div>
    </div>