{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block title %}Hotel Symfony - Inicio Sesión{% endblock%}
{% block bodyInterno %}
<div class="page-header">
    <h1>Iniciar Sesión</h1>
</div>
<div class="row">
	<div class="col-lg-5 col-sm-5" style="float: none; margin: 0 auto;">
		{% if error %}
		    <div class="alert alert-danger alert-dismissible" role="alert">
		    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}
	</div>
</div>
<div class="row">
	<div class="col-lg-5 col-sm-5" style="float: none; margin: 0 auto;">
		<form action="{{ path("fos_user_security_check") }}" method="post">
			<div class="input-group">
			<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
			<table class="tabla table-responsive">
				<tr>
					<td><label for="username">{{ 'security.login.username'|trans }}</label></td>
					<td><input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" /></td>
				</tr>
				<tr>
					<td><label for="password">{{ 'security.login.password'|trans }}</label></td>
					<td><input class="form-control" type="password" id="password" name="_password" required="required" /></td>
				</tr>
				<tr>
					<td><label for="remember_me">{{ 'security.login.remember_me'|trans }}</label></td>
					<td><input type="checkbox" id="remember_me" name="_remember_me" value="on" /></td>
				</tr>
				<tr>
					<td colspan="2"><input class="btn btn-primary btn-block" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" /></td>
				</tr>
			</table>
		    </div>
		</form>
		<small>¿Olvido su contraseña?</small>
	</div>
</div>

<style type="text/css">
	.tabla tr td{
		padding: 5px 5px 5px 5px;
	}
	input{
		width: 300px;
		border-radius: 4px;
	}
</style>
{% endblock bodyInterno %}
