{% extends 'LIHotelBundle::adminBase.html.twig' %}
{% block javascripts %}
    <script src="{{ asset('bundles/lihotel/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/lihotel/js/TipoFormulario.js') }}"></script>
    <script src="{{ asset('bundles/lihotel/js/ServicioFormulario.js') }}"></script>
{% endblock %}
{% block body -%}
<div class="col-lg-12 col-sm-12 col-xs-12">
    <div class="page-header">
    	<h1>Habitación<br><small>Agregue una habitación nueva</small></h1>
    </div>

    <div class="row">
        <div class="col-lg-3 col-sm-3 col-xs-12">
            <ul class="nav nav-stacked">
                <li role="presentation"><a class="btn btn-success btn-block" href="{{ path('habitacion') }}" role="button">Ver todas las Habitaciones</a></li>
            </ul>
        </div>

        <!-- PANEL DEL CONTENIDO -->
        <div class="col-lg-9 col-sm-9 col-xs-12">
            {{ form(form) }}
        </div>
    </div>
</div>
{% endblock %}
