{% extends 'LIHotelBundle::userBase.html.twig' %}
	
{% block body -%}
<div class="col-lg-12 col-sm-12 col-xs-12">
	<div class="page-header">
		<h1>Habitación {{ entity.nombre }} (#{{ entity.numero }})</h1>
	</div>

	<div class="row">
		<div class="col-lg-6 col-sm-6">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title">Datos de la Habitación</h3>
				</div>
				<table class="table table-bordered borde-verde">
					<tbody>
						<tr>
							<th>Estado</th>
							<td>{{ entity.estado }}</td>
						</tr>
						<tr>
							<th>Nombre</th>
							<td>{{ entity.numero }} - {{ entity.nombre }}</td>
						</tr>
						<tr>
							<th>Categoria</th>
							<td>{{ entity.tipo.categoriaHabitacion }}</td>
						</tr>
						<tr>
							<th>Tipo</th><td>{{ entity.tipo.tipoHabitacion }}</td>
						</tr>
						<tr>
							<th>Espacio Interno</th><td>{{ entity.tipo.espacioInterno }}</td>
						</tr>
						<tr>
							<th>Servicios</th><td>{% for servicio in entity.tipo.servicios %}{{ servicio.nombre }}, {% endfor %}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-lg-6 col-sm-6">
			<div class="panel panel-warning">
				<div class="panel-heading">
					<h3 class="panel-title">Bebidas del Minibar</h3>
				</div>
				<table class="table table-bordered borde-verde">
					<tbody>
						{% for bebida in entity.tipo.bebidasMinibar %}
							<tr>
								<td>{{ bebida.marca }}</td>
								<td>{{ bebida.cantidad }} unidades</td>
								<td>{{ bebida.precio }} Bs</td>
								<td>{{ bebida.tipoBebida }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-lg-6 col-sm-6">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title text-right">Costos aproximados de alojamiento</h3>
				</div>
				<table class="table table-bordered borde-azul">
					<tbody>
							<tr>
								<td>Una persona un día</td>
								<td>{{ entity.tipo.tipoHabitacion.precio*entity.tipo.categoriaHabitacion.precio*1 }} Bs</td>
							</tr>
							<tr>
								<td>Una persona dos día</td>
								<td>{{ entity.tipo.tipoHabitacion.precio*entity.tipo.categoriaHabitacion.precio*2 }} Bs</td>
							</tr>
							<tr>
								<td>Una persona dos día + niño</td>
								<td>{{ (entity.tipo.tipoHabitacion.precio*entity.tipo.categoriaHabitacion.precio*2)+10 }} Bs</td>
							</tr>
					</tbody>
				</table>
				<div class="panel-footer">
					<p class="text-info text-right">Ninguno de estos precios incluye servicios adicionales o consumos.</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
