{% extends 'LIHotelBundle::userBase.html.twig' %}
    
{% block body -%}
<div class="col-lg-12 col-sm-12 col-xs-12">
    <div class="page-header">
        <h1>Habitacion {{ entity.nombre }} (#{{ entity.numero }})</h1>
    </div>

    <div class="row">
        <div class="col-lg-6 col-sm-6">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <th>Estado</th>
                    </tr>
                    <tr>
                        <td>{{ entity.id }}</td>
                        <td>{{ entity.estado }}</td>
                    </tr>
                    <tr>
                        <th>Nombre</th>
                        <th>Categoria</th>
                    </tr>
                    <tr>
                        <td>{{ entity.numero }} - {{ entity.nombre }}</td>
                        <td>{{ entity.tipo.categoriaHabitacion }}</td>
                    </tr>
                    <tr><th>Tipo</th><th>Espacio Interno</th></tr>
                    <tr><td>{{ entity.tipo.tipoHabitacion }}</td><td>{{ entity.tipo.espacioInterno }}</td></tr>
                    <tr><th>Servicios</th><td>{% for servicio in entity.tipo.servicios %}{{ servicio.nombre }}, {% endfor %}</td></tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-6 col-sm-6">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="4">Bebidas del Minibar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bebida in entity.tipo.bebidasMinibar %}
                        <tr>
                            <td>{{ bebida.marca }}</td>
                            <td>{{ bebida.cantidad }} unidades</td>
                            <td>{{ bebida.precio }} Bs</td>
                            <td>{{ bebida.tipoBebida }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
