{% extends user.roles|first == 'ROLE_ADMIN' 
    ? 'LIHotelBundle::adminBase.html.twig' 
    : 'LIHotelBundle::userBase.html.twig' %}
    
{% block body -%}
<div class="col-lg-12 col-sm-12 col-xs-12">
    <div class="page-header">
        <h1>Habitación {{ entity.nombre }} (#{{ entity.numero }})</h1>
    </div>

    <div class="row">
        {% for flashMessage in app.session.flashbag.get('msj_habitacion') %}
            <div class = "alert alert-info alert-dismissable">
                <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                {{ flashMessage }}
            </div>
        {% endfor %}
        <div class="col-lg-6 col-sm-6">
            <table class="table table-bordered table-responsive">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <th>Estado</th>
                    </tr>
                    <tr>
                        <td>{{ entity.id }}</td>
                        <td>{{ entity.estado }}</td>
                    </tr>
                    <tr>
                        <th>Nombre</th>
                        <th>Categoria</th>
                    </tr>
                    <tr>
                        <td>{{ entity.numero }} - {{ entity.nombre }}</td>
                        <td>{{ entity.tipo.categoriaHabitacion }}</td>
                    </tr>
                    <tr><th>Tipo</th><th>Espacio Interno</th></tr>
                    <tr><td>{{ entity.tipo.tipoHabitacion }}</td><td>{{ entity.tipo.espacioInterno }}</td></tr>
                    <tr><th>Servicios</th><td>{% for servicio in entity.tipo.servicios %}{{ servicio.nombre }}, {% endfor %}{% if entity.tipo.servicios == null %}No se han añadido servicios a esta habitación.{% endif %}</td></tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-6 col-sm-6">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="4">Bebidas del Minibar</th>
                    </tr>
                </thead>
                <tbody>
                {% if entity.tipo.bebidasMinibar|length == 0 %}No se han añadido bebidas al minibar de esta habitación.{% endif %}
                    {% for bebida in entity.tipo.bebidasMinibar %}
                        <tr>
                            <td>{{ bebida.marca }}</td>
                            <td>{{ bebida.cantidad }} unidades</td>
                            <td>{{ bebida.precio }} Bs</td>
                            <td>{{ bebida.tipoBebida }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <p style="text-align: center;">
        <a class="btn btn-success" href="{{ path('habitacion') }}" role="button">Regresar</a>
        <a class="btn btn-warning" href="{{ path('habitacion_edit', { 'id': entity.id }) }}" role="button">Editar Habitación</a>
        {{ form(delete_form) }}
    </p>
    
</div>
{% endblock %}
