{% extends user.roles|first == 'ROLE_ADMIN' 
? 'LIHotelBundle::adminBase.html.twig' 
: 'LIHotelBundle::userBase.html.twig' %}

{% block body -%}
<div class="col-lg-12 col-sm-12 col-xs-12">
	<div class="page-header">
		<h1>Habitación {{ entity.nombre }} (#{{ entity.numero }})</h1>
	</div>

	<div class="row">
		<div class="col-lg-3 col-sm-3 col-xs-12">
			<ul class="nav nav-stacked">
				<li role="presentation"><a class="btn btn-success btn-block" href="{{ path('habitacion') }}" role="button">Ver todas las Habitaciones</a></li>
				<li role="presentation"><a class="btn btn-warning btn-block" href="{{ path('habitacion_edit', { 'id': entity.id }) }}" role="button">Editar Habitación</a></li>
				<li role="presentation"><a type="button" class="btn btn-danger" data-toggle="modal" data-target="#ModalEliminarHabitacion">Eliminar Habitación</a></li>
			</ul>
		</div>

		<!-- PANEL DEL CONTENIDO -->
		<div class="col-lg-9 col-sm-9 col-xs-12">
			{% for flashMessage in app.session.flashbag.get('msj_habitacion') %}
			<div class = "alert alert-info alert-dismissable">
				<button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
				{{ flashMessage }}
			</div>
			{% endfor %}

			<div class="row">
				<div class="col-lg-6 col-sm-6 col-xs-12">
					<div class="panel panel-success">
						<div class="panel-heading">
							<h3 class="panel-title">Datos de la Habitación</h3>
						</div>
						<table class="table table-bordered table-responsive">
							<tbody>
								<tr>
									<td style="text-align: left;">la habitación <b>{{ entity.numero }} - {{ entity.nombre }}</b> se encuentra <b>{{ entity.estado }}</b>, tiene por cartegoría <b>{{ entity.tipo.categoriaHabitacion }}</b> y tipo <b>{{ entity.tipo.tipoHabitacion }}</b>. Su espacio interno está constituido por: "<b>{{ entity.tipo.espacioInterno }}</b>" y dispone de los siguientes servicios: <b>{% for servicio in entity.tipo.servicios %}{{ servicio.nombre }}, {% endfor %}</b>{% if entity.tipo.servicios|length == 0 %}<li>No se han añadido servicios a esta habitación.</li>{% endif %}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-lg-6 col-sm-6 col-xs-12">
					<div class="panel panel-success">
						<div class="panel-heading">
							<h3 class="panel-title">Bebidas de la habitación</h3>
						</div>
						<table class="table table-bordered">
							<tbody>
								<tr>
									{% if entity.tipo.bebidasMinibar|length == 0 %}<th>No se han añadido bebidas al minibar de esta habitación.</th>{% endif %}
								</tr>
								{% for bebida in entity.tipo.bebidasMinibar %}
								<tr>
									<td>{{ bebida.marca }}</td>
									<td>{{ bebida.cantidad }} unidades</td>
									<td>{{ bebida.precio }} Bs c.u</td>
									<td>{{ bebida.tipoBebida }}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			
			<table class="table table-bordered">
				<thead>
					<tr>
						<th colspan="4">Reservas Asociadas a esta habitación</th>
					</tr>
				</thead>
				<tbody>
					{% for reserva in reservas %}
					<tr>
						<td>{{ reserva.codigoReserva }} <a href="{{ path('reserva_show', { 'id': reserva.id }) }}" name="Ver Detalles"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></td>
						<td>{{ reserva.estadoReserva }}</td>
						<td>{{ reserva.fechareserva|date('d M Y') }}</td>
						<td>{{ reserva.cliente }} <a href="{{ path('usuario_show', { 'id': reserva.cliente.id }) }}" name="Ver Detalles"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

<!-- EL MODAL -->
<div class="modal fade" id="ModalEliminarHabitacion" role="dialog">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title text-danger">¡Cuidado!</h4>
			</div>
			<div class="modal-body">
				<p>¿Está seguro de que desea realizar esta operación? Se eliminarán los datos asociados a la habitación. <p class="text-danger">Incluyendo las Reservas</p></p>
			</div>
			<div class="modal-footer">
				<style type="text/css">.form-group{ margin-bottom: 0px !important; }</style>
				{{ form(delete_form) }}
			</div>
		</div>
	</div>
</div>
<!-- AQUI FINALIZA EL MODAL -->
{% endblock %}
